@font-face {
    font-family: Inika;
    font-weight: normal;
    src: url("fontes/Inika-Regular.ttf");
}

@font-face {
    font-family: Inika;
    font-weight: bold;
    src: url("fontes/Inika-Bold.ttf");
}

@font-face {
    font-family: Bespoke;
    font-weight: normal;
    src: url("fontes/TTT-1.otf");
}

body {
    font-family: Inika;
    margin: 1.5em auto;
    max-width: 50em;
}

a, a:hover, a:visited {
    color: #00a900;
    /* background: linear-gradient(left, #00a900, #faa6ff);
    background: -webkit-linear-gradient(left, #00a900, #faa6ff);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

div.header {
    margin-bottom: 1.5em;
}

div.columns {
    /*column-count: 2;*/
    /*margin: 1.5em 0;*/
    clear: both;
}

div.columns div {
    float: left;
    display: inline-block;
    width: 50%;
    padding: 0 1.5em;
    box-sizing: border-box;
    margin-bottom: 1.5em;
}

p.deadline {
    margin: 1.5em !important;
    margin-top: 4em !important;
    display: block;
}

.border-dotted {
    border: 5px dotted #BF00FF;
    padding: 0.5em 1em;
    margin: 0.5em !important;
}

.border-dotted.round {
    border-radius: 100%;
    height: 24px;
    width: 0px;
    -webkit-text-fill-color: #555555;
    text-indent: -4px;
    display: inline-block;
    vertical-align: bottom;
}

tbody, thead, tfoot, tr, td, th {
    border-style: inherit;
    border-width: inherit;
    border-color: inherit;
}

td {
    width: 10px;
    height: 5px;
}

.leftFloat {
    float: left;
}

.rightFloat {
    float: right;
}

img.media-1 {
    display: block;
    margin: 0em auto 0em auto;
}

span.char-style-override-1 {
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
}

span.char-style-override-2 {
    font-family: Inika, serif;
    font-size: 0.92em;
    font-style: normal;
    font-weight: normal;
}

span.char-style-override-3 {
    font-family: Inika, serif;
    font-size: 0.92em;
    font-style: normal;
    font-weight: normal;
    text-decoration: underline;
}

span.char-style-override-4 {
    text-decoration: underline;
}

span.char-style-override-5 {
    color: #ffffff;
    font-family: Bespoke, sans-serif;
    font-size: 1.08em;
    font-style: normal;
    font-weight: 500;
}

span.char-style-override-6 {
    font-size: 0.91em;
    font-style: normal;
    font-weight: bold;
}

p.Basic-Paragraph {
    font-family: "Minion Pro", serif;
    font-weight: normal;
    font-style: normal;
    font-size: 1em;
    text-decoration: none;
    font-variant: normal;
    line-height: 1.2;
    text-align: left;
    color: #555555;
    text-indent: 0px;
    margin: 0px;
}

p.TITRES {
    font-family: Bespoke, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.67em;
    text-decoration: none;
    font-variant: normal;
    line-height: 1.2;
    text-align: left;
    color: #555555;
    text-indent: 0px;
    margin: 0px;
    margin-top: 1.5em;
}

p.COURANT {
    font-family: Inika, serif;
    font-weight: normal;
    font-style: normal;
    font-size: 0.92em;
    text-decoration: none;
    font-variant: normal;
    line-height: 1.2;
    text-align: left;
    color: #555555;
    text-indent: 0px;
    margin: 0px;
}

.BOLD span,
p.COURANT span {
    color: #BF00FF;
    background: -webkit-linear-gradient(left, #00a900, #faa6ff);
    background: linear-gradient(left, #00a900, #faa6ff);
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

p.HEAD {
    font-family: Inika, serif;
    font-weight: normal;
    font-style: normal;
    font-size: 1.33em;
    text-decoration: none;
    font-variant: normal;
    line-height: 1.2;
    text-align: left;
    color: #555555;
    text-indent: 0px;
    margin: 0px;
}

p.BIG {
    font-family: Bespoke, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 3em;
    text-decoration: none;
    font-variant: normal;
    line-height: 1.2;
    text-align: left;
    color: #555555;
    text-indent: 0px;
    margin: 0px;
}

p.UNDERLINE {
    font-family: Inika, serif;
    font-weight: normal;
    font-style: normal;
    font-size: 0.92em;
    text-decoration: underline;
    font-variant: normal;
    line-height: 1.2;
    text-align: left;
    color: #555555;
    text-indent: 0px;
    margin: 0px;
    margin-top: 1.5em;
}

p.UNDERLINE+p.TITRES {
    margin-top: 0.25em;
}

p.BOLD {
    font-family: Inika, serif;
    font-weight: bold;
    font-style: normal;
    font-size: 1.17em;
    text-decoration: none;
    font-variant: normal;
    line-height: 1.2;
    text-align: left;
    color: #555555;
    text-indent: 0px;
    margin: 0px;
}

p.para-style-override-1 {
    text-align: center;
}

div.Basic-Text-Frame {}

#upload {
    font-size: 2em;
    margin: 1em !important;
    display: flex;
    justify-content: center;
    padding: 1em;
    animation: blinker 1s infinite;
}
#upload:hover {
    animation: none;
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}
